<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{static_url('plugin/bootstrap/css/bootstrap.min.css')}}">
    <!-- Local Project -->
    <link rel="stylesheet" type="text/css" href="{{static_url('css/main.css')}}">

    
</head>
<body>
    <h1>Hello, HYL!</h1>

    <!-- Optional JavaScript -->
    <!-- 1 JQuery, 2 Popper.js, 3 Bootstrap, 4... -->
    <script type="text/javascript" src="{{static_url('js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugin/popper.js/v1.12.9/dist/umd/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugin/bootstrap/js/bootstrap.min.js')}}"></script>   
</body>
</html>